/* Customize the horizontal header */
QTableWidget QHeaderView::section:horizontal {
    background-color: #333;
    color: white;
    padding: 8px;
    font-weight: bold;
    font-size: 12px;
}

QTableWidget QTableCornerButton::section,
QTableWidget::item {
    background-color: #fff; /* Set the background color for all items */
}

QTableWidget::item:nth-child(even){
    background-color: #55b2b5;
}

